# Autoloads
mxtodo-autoloads.el

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Added automatically by ‘eldev init’.
/.eldev
/Eldev-local

# Rust
*/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
**/mxtodo-searcher.so
**/release-artifacts